<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.systemmanagement.mapper.RoleManagementMapper">
    <insert id="addRole" parameterType="cc.mrbird.febs.systemmanagement.entity.RoleT">
        INSERT INTO t_role (
            ROLE_ID,
            ROLE_NAME,
            REMAKE,
            CREATE_TIME,
            MODIFY_TIME
        ) values (
            #{roleId},
            #{roleName},
            #{remake},
            #{createTime},
            #{modifyTimee})

    </insert>
    <update id="updateByKey" parameterType="cc.mrbird.febs.systemmanagement.entity.RoleT">
        update t_role
        <set>
            <if test="roleId!=null">
                ROLE_ID=#{roleId},
            </if>
            <if test="roleName!=null">
                ROLE_NAME=#{roleName},
            </if>
            <if test="remake!=null">
                REMAKE =#{remake},
            </if>
            <if test="createTime!=null">
                CREATE_TIME =#{createTime},
            </if>
            <if test="modifyTime！=null">
                MODIFY_TIME =#{modifyTime}
            </if>
        </set>
             WHERE role_id =#{roleId}
    </update>
    <update id="updateQualification">
        update  t_role
        set status = 1 where ROLE_ID =#{roleId}
    </update>


    <delete id="deleteByKey" parameterType="java.lang.Integer">
        delete from  t_role where ROLE_ID =#{roleId}
    </delete>


    <select id="getRoleByKey" parameterType="int" resultType="cc.mrbird.febs.systemmanagement.entity.RoleT">
            select  * from  t_role where ROLE_ID =#{roleId}
    </select>

    <select id="findAll" resultType="cc.mrbird.febs.systemmanagement.entity.RoleT">
            select * from  t_role
    </select>


</mapper>