<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.systemmanagement.mapper.UserManagermentMapper">

        <!-- 添加新用户的 -->
    <insert id="addUser" parameterType="cc.mrbird.febs.systemmanagement.entity.UserT">
        INSERT INTO t_user (
        USERNAME,PASSWORD,DEPT_ID,EMAIL,MOBILE,STATUS,CREATE_TIME,MODIFY_TIME,LAST_LOGIN_TIME,
  SSEX,IS_TAB,THEME, AVATAR,DESCRIPTION,ORGANIZATION_CODING,REGION_CODING,NAME,QUALIFICATION,
  SITE,CERTIFICATION_STATUS,CERTIFICATE,AGE,BIRTHDAY,ORGANIZATION_NAME)
  values (
      #{username},#{password},#{deptId},#{email},#{mobile},#{status},#{createTime},#{modifyTime},#{lastLoginTime},
      #{ssex},#{isTab},#{theme},#{avatar},#{description},#{organizationCoding},#{regionCoding},
      #{name},#{qualification},#{site},#{certificationStatus},#{certificate},#{age},#{birthday},#{organizationName})
     </insert>

    <!-- 根据用户名进行修改 -->
    <update id="updateUserByKey" parameterType="cc.mrbird.febs.systemmanagement.entity.UserT">
        update t_user

        <set>
            <if test="username !=null">
                USERNAME =#{username},
            </if>
            <if test=" deptId !=null">
                DEPT_ID =#{deptId},
            </if>
            <if test="email !=null">
                EMAIL =#{email},
            </if>
            <if test="mobile!=null">
                MOBILE =#{mobile},
            </if>
            <if test="status !=null ">
                STATUS =#{status},
            </if>
            <if test="createTime != null">
                CREATE_TIME =#{createTime},
            </if>
            <if test="modifyTime !=null">
                MODIFY_TIME  =#{modifyTime},
            </if>
            <if test="lastLoginTime !=null ">
                LAST_LOGIN_TIME =#{lastLoginTime},
            </if>
            <if test="ssex !=null">
                SSEX =#{ssex},
            </if>
            <if test="isTab !=null">
                IS_TAB =#{isTab},
            </if>
            <if test="theme != null">
                THEME =#{theme},
            </if>
            <if test="avatar != null">
                AVATAR =#{avatar},
            </if>
            <if test="description !=null">
                DESCRIPTION =#{description},
            </if>
            <if test="organizationCoding != null">
                ORGANIZATION_CODING =#{organizationCoding},
            </if>
            <if test="regionCoding !=null">
                REGION_CODING  =#{regionCoding},
            </if>
            <if test="name != null">
                NAME =#{name},
            </if>
            <if test="qualification !=null">
                QUALIFICATION =#{qualification},
            </if>
            <if test="site !=null">
                SITE =#{site},
            </if>
            <if test="certificationStatus !=null ">
                CERTIFICATION_STATUS =#{certificationStatus},
            </if>
            <if test="certificate != null">
                CERTIFICATE =#{certificate},
            </if>
            <if test="age != null">
                AGE =#{age},
            </if>
            <if test="birthday != null">
                BIRTHDAY =#{birthday},
            </if>
            <if test="organizationName != null">
                ORGANIZATION_NAME  =#{organizationName}
            </if>
        </set>
            where USERNAME =#{username}
    </update>


    <!-- 根据用户名删除 -->
    <delete id="deleteUserByKey" parameterType="java.lang.String">
        delete from t_user where USERNAME WHERE =#{username}
    </delete>



    <!-- 根据用户名删除用户名查询用户信息 -->
    <select id="selectUserByKey" resultType="cc.mrbird.febs.systemmanagement.entity.UserT" parameterType="java.lang.String">
        select * from t_user where USERNAME  =#{username}
    </select>

    <select id="findAll" resultType="cc.mrbird.febs.systemmanagement.entity.UserT">
         select * from t_user
    </select>


</mapper>