<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.appmedical.mapper.AppHospitalSericeMapper">
    

    <select id="appFindAll" resultType="cc.mrbird.febs.organizationalmanagement.entity.Patient">
        select * from t_patient;
    </select>

    <select id="electStateByKey" resultType="cc.mrbird.febs.organizationalmanagement.entity.Patient">
        select * from t_patient where serve_state =#{serveState};
    </select>

</mapper>